<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe App</title>
  </head>
  <body>
    <h1>Recipe App</h1>
    {% for recipe in recipes %}

    <h2>{{recipe.name}}</h2>
    <p><b>Description</b>: {{recipe.description}}</p>
    <img src="{{recipe.image.url}}" alt="image" width="15%" />
    <p><i>Price</i>: {{recipe.price}}</p>
    <p>Created on {{recipe.date_created}}</p>

    {% endfor %}
  </body>
</html>
