{% extends "recipe_app/layout.html" %}
<!--  -->
{% block content %}

<h2>{{ recipe.name }}</h2>
<div
  class="card shadow"
  style="
    width: 13rem;
    display: inline-flex;
    margin: 15px;
    padding: 10px;
    height: auto;
  "
>
  <img
    src="{{recipe.image.url}}"
    class="card-img-top"
    alt="{{recipe.name}}"
    height="150px"
  />
  <div class="card-body" style="text-align: center">
    <p>{{ recipe.description }}</p>
    <em>Price</em>:<span style="color: crimson"> N{{recipe.price}}</span><br />
  </div>
</div>
<br />
<hr />
{% if object.owner == user %}
<div class="m-2">
  <a href="/update-recipe/{{recipe.pk}}" class="btn btn-primary"
    >Update Recipe</a
  >
  <a href="/delete-recipe/{{recipe.pk}}" class="btn btn-danger"
    >Delete Recipe</a
  >
</div>
{% endif %} {% endblock content %}
