{% extends "recipe_app/layout.html" %}
<!--  -->
{% block content %} {%load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logout</title>
  </head>
  <body>
    <div class="col-md-6 text-center" style="margin: auto">
      <p>You have successfully loggged out!</p>
      <div class="border-top-3 pt-2">
        You can
        <a href="/login/" class="text-center mt-4 text-secondary">login</a>
        again
      </div>
    </div>
  </body>
</html>

{% endblock content %}
